{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home/home.css') }}">
{% endblock %}

{% block title %} Accueil {% endblock %}

{% set last_trick_id = '' %}

{% block body %}
    <div class="jumbotron jumbotron-fluid" id="jumbotron">
        <video autoplay loop muted preload="auto">
            <source src="{{ asset('videos/headerHomepage.mp4') }}" type="video/mp4">
        </video>
        <a class="js-scrollTo" href="#footer"><i class="fas fa-arrow-circle-down fa-3x"></i></a>
    </div>
    <div id="errors">
        {% for message in app.flashes('failureConfirmRegistration') %}
            <div class="alert alert-danger" id="failureConfirmRegistration">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('failureUpdatePassword') %}
            <div class="alert alert-danger" id="failureUpdatePassword">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <div class="container" id="trickContent">
        <div id="seeMedias">
            <button type="button" class="btn btn-primary" id="seeTricks">Voir les figures</button>
        </div>
        <div id="trickList">
            <h1 id="trickListTitle">Liste des figures</h1>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success mt-4">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('failure') %}
                <div class="alert alert-danger mt-4">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="row" id="data_list">
                {% for trick in trickList %}
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="card mb-3">
                            {% if trick.firstImage != null %}
                                <img src="{{ asset('uploads/images/' ~ trick.firstImage) }}">
                            {% elseif trick.images|length > 0 %}
                                {% set imagesArray = [] %}
                                {% for image in trick.images %}
                                    {% set imagesArray = imagesArray|merge([image.name]) %}
                                {% endfor %}
                                <img src="{{ asset('uploads/images/' ~ random(imagesArray)) }}">
                            {% else %}
                                <img class="card-img-top" src="{{ asset('images/imgTrickDefault.jpg') }}">
                            {% endif %}
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-8">
                                        <a href="{{ path('app_trick_show', {id: trick.id, slug: trick.slug}) }}">{{ trick.name }}</a>
                                    </div>
                                    {% if app.user %}
                                        {% if app.user.activated != 0 %}
                                            {% if app.user.role == 'admin' or trick.user.id == app.user.id %}
                                                <div class="col-2">
                                                    <a href="{{ path('app_trick_edit', {id: trick.id, slug: trick.slug }) }}"><i class="fas fa-pencil-alt"></i></a>
                                                </div>
                                                <div class="col-2">
                                                    <i class="far fa-trash-alt" data-toggle="modal" data-target="#deleteTrick{{ trick.id }}"></i>
                                                    {#<input type=button data-toggle="modal" data-target="#deleteTrick{{ trick.id }}" value="Supprimer" class="btn btn-danger"/>#}
                                                </div>
                                             {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% set last_trick_id = trick.id %}
                    {# Modal delete trick #}
                    <div class="modal fade" id="deleteTrick{{ trick.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <h4>Etes-vous sûr de vouloir supprimer cette figure ?</h4>
                                </div>
                                <form action="{{ path('app_trick_delete', {id: trick.id, source: 'home'}) }}" method="post">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                                        <button type="submit" class="btn btn-primary">Confirmer</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div id="remove_row">
                {% if app.user and (app.user.role == 'user' or app.user.role == 'admin') %}
                    <a href="{{ path('app_trick_create') }}"><button class="btn btn-primary">Ajouter figure <i class="fas fa-plus-circle"></i></button></a>
                {% endif %}
                {% if indexSize == 8 %}
                    <button class="btn btn-primary" name="btn_more" id="btn_more" data-id="{{ last_trick_id }}">Afficher plus <i class="fas fa-plus-circle"></i></button>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="about">
        <div class="container">
            <h1>A propos de Jimmy</h1>
            <div class="row">
                <div class="col-md-6">
                    Jimmy Sweat est un athlète professionnel qui pratique le 'double sport' et qui détient certaines des plus hautes distinctions en matière de snowboard et de skateboard.
                    Jimmy a commencé à faire de la planche à neige à l'âge de six ans et a immédiatement montré un talent
                    étrange pour ce sport. À l'âge de sept ans, Jimmy avait remporté une série de compétitions
                    et obtenu un parrainage avec de nombreux sponsors.<br><br>
                    Il est le seul athlète avec deux 100 points parfaits. Il détient les records des X-Games pour les médailles d'or avec 15 et le plus grand total de médailles avec 23 à ce jour.
                    Il a également remporté 11 prix ESPY du meilleur athlète masculin et du meilleur athlète en snowboard.
                </div>
                <div class="col-md-6">
                    Jimmy a été sponsorisé à 7 ans et est devenu professionnel à 13 ans. Il a remporté son premier US Open à 16 ans, devenant ainsi le plus jeune coureur à le faire,
                    et a remporté sa première médaille d'or aux Jeux olympiques à 19 ans. Le concours remporte les prix US Open, Air + Style, X Games, Dew Tour et ESPY Awards,
                    devenant ainsi le snowboarder le plus décoré de l'histoire.<br><br>
                    Au cours des dix dernières années, il a continué à gagner ou à remporter une médaille dans pratiquement tout ce qui lui a été disputé en demi-lune, slopestyle,
                    big air et quarterpipe;
                    inventé des figures incroyablement difficiles; marqué le seul 100 parfait dans l'histoire des X Games SuperPipe.
                </div>
            </div>
        </div>
    </div>
    <div id="contact">
        <div class="container">
            {% for message in app.flashes('successSendMail') %}
                <div class="row justify-content-md-center">
                    <div class="col-9">
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <h1>Contactez Jimmy</h1>
            <div class="row">
                <div class="col-md-6">
                    {{ form_start(form) }}
                    {{ form_rest(form) }}
                    <div class="form-group">
                        <button class="btn btn-primary">Envoyer</button>
                    </div>
                    {{ form_end(form) }}
                </div>
                <div class="col-md-6">
                    <img src="{{ asset('images/contact.jpg') }}">
                </div>
            </div>
        </div>
        <a class="js-scrollTo" href="#jumbotron"><i class="fas fa-arrow-circle-up fa-3x"></i></a>
    </div>
    {% block javascripts %}
        <script src="{{ asset('js/smoothScroll.js') }}"></script>
        <script>
            $(document).ready(function () {
                $(document).on('click', '#btn_more', function () {
                    $('#btn_more').html('Chargement <div class="spinner-border text-light spinner-border-sm" role="status"><span class="sr-only">Loading...</span></div>');
                    var last_trick_id = $(this).data("id");
                    $.ajax({
                        type: "GET",
                        url: "{{ path('app_home_showmore') }}",
                        data: 'last_trick_id=' + last_trick_id,
                        cache:false,
                        success: function(data){
                            $('#btn_more').remove()
                            $('#data_list').append(data);
                        },
                        error: function() {},
                        complete: function () {
                            $('#btn_more').html("Afficher plus <i class=\"fas fa-plus-circle\"></i>");
                        }
                    });
                })
                $(document).on('click', '#seeTricks', function () {
                    $("#trickList").css("display", "inline");
                    $("#seeMedias").css("display", "none");
                })
            })
        </script>
    {% endblock %}
{% endblock %}