{% set last_trick_id = "" %}
{% for trick in trickList %}
    <div class="col-md-3">
        <div class="card mb-3">
            {% if trick.images|length > 0 %}
                {% set imagesArray = [] %}
                {% for image in trick.images %}
                    {% set imagesArray = imagesArray|merge([image.name]) %}
                {% endfor %}
                <img src="{{ asset('uploads/images/' ~ random(imagesArray)) }}">
            {% else %}
                <img class="card-img-top" src="{{ asset('images/imgTrickDefault.jpg') }}">
            {% endif %}
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <a href="{{ path('app_trick_show', {id: trick.id, slug: trick.slug}) }}">{{ trick.name }}</a>
                    </div>
                    {% if app.user %}
                        {% if app.user.activated != 0 %}
                            {% if app.user.role == 'admin' or trick.user.id == app.user.id %}
                                <div class="col-2">
                                    <a href="{{ path('app_trick_edit', {id: trick.id, slug: trick.slug }) }}"><i class="fas fa-pencil-alt"></i></a>
                                </div>
                                <div class="col-2">
                                    <i class="far fa-trash-alt" data-toggle="modal" data-target="#deleteTrick{{ trick.id }}"></i>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {# Modal delete trick #}
    <div class="modal fade" id="deleteTrick{{ trick.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h4>Etes-vous sûr de vouloir supprimer cette figure ?</h4>
                </div>
                <form action="{{ path('app_trick_delete', {id: trick.id, source: 'home'}) }}" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary">Confirmer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% set last_trick_id = trick.id %}
{% endfor %}
{% if indexSize >= 8 %}
    <script>
        $('#remove_row').append('<button class="btn btn-primary" name="btn_more" id="btn_more" data-id="{{ last_trick_id }}">Afficher plus</button>');
    </script>
{% else %}
    <script>
        $('#remove_row').append('<button class="btn btn-primary" disabled>Fin des figures</button>');
    </script>
{% endif %}



