<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <!-- bootstrap-css -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ asset('css/admin/layout.css') }}">
        <!-- font-awesome icons -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <script src="{{ asset('js/modernizr.js') }}"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div id="header">
            <h1>Jimmt sweat Admin</h1>
            {% if app.user %}
                {% if app.user.avatar == null%}
                    <img class="rounded-circle" id="avatar" src="{{ asset('images/userAvatarDefault.jpg') }}"/>
                {% else %}
                    <img class="rounded-circle" id="avatar" src="{{ asset('uploads/avatars/' ~ app.user.avatar ) }}"/>
                {% endif %}
                {{ app.user.name }}
            {% endif %}
        </div>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a href="{{ path('app_home_home') }}">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_admin_trick') }}">
                    <i class="fas fa-snowboarding"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_admin_message') }}">
                    <i class="far fa-comment-dots"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_admin_user') }}">
                    <i class="fas fa-users"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_user_logout') }}">
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            </li>
        </ul>
        <nav class="main-menu">
            <ul>
                <li>
                    <a href="{{ path('app_home_home') }}">
                        <i class="fas fa-home"></i>
                        <span class="nav-text">Accueil</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_admin_trick') }}">
                        <i class="fas fa-snowboarding"></i>
                        <span class="nav-text">Figures</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_admin_message') }}">
                        <i class="far fa-comment-dots"></i>
                        <span class="nav-text">Messages</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_admin_user') }}">
                        <i class="fas fa-users"></i>
                        <span class="nav-text">Utilisateurs</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_user_logout') }}">
                        <i class="fas fa-sign-out-alt"></i>
                        <span class="nav-text">Se déconnecter</span>
                    </a>
                </li>
            </ul>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
