{% extends 'admin/adminLayout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/admin/messagesAdmin.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="accordion" id="accordionExample">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('failure') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
            {% for trick in trickList %}
                <div class="card">
                    <div class="card-header" id="heading{{ trick.id }}">
                        <div class="row">
                            <div class="col-lg-2">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ trick.id }}" aria-expanded="true" aria-controls="collapseOne">
                                    {{ trick.name }}
                                </button>
                            </div>
                            <div class="col-lg-5">
                                <h6 id="creationDate">Créé le {{ trick.createdAt|date('Y-m-d à H:i:s') }} par {{ trick.user.name }}</h6>
                            </div>
                            <div class="col-lg-5">
                                <h6 id="creationDate">Dernière modification le {{ trick.updatedAt|date('Y-m-d à H:i:s') }}</h6>
                            </div>
                        </div>
                    </div>
                    <div id="collapse{{ trick.id }}" class="collapse" aria-labelledby="heading{{ trick.id }}" data-parent="#accordionExample">
                        <div class="card-body">
                            <h5>Description de la figure:</h5>
                            <div id="description">{{ trick.description }}</div>
                            <hr>
                            {% for message in invalidMessageList %}
                                {% if message.trickId.id == trick.id %}
                                    <h5>Message {{ message.id }} :</h5>
                                    <div id="messageInformations">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <h6>Créer le {{ message.createdAt|date('Y-m-d à H:i:s') }}</h6>
                                            </div>
                                            <div class="col-lg-5">
                                                <h6>Dernière modification le {{ message.updatedAt|date('Y-m-d à H:i:s') }}</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="messageContent">{{ message.content }}</div>
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <input type=button onclick=window.location.href='{{ path('update_validated_message', {id: message.id}) }}'; value="Valider" class="btn btn-success"/>
                                        <input type=button data-toggle="modal" data-target="#deleteMessage{{ message.id }}" value="Supprimer" class="btn btn-danger"/>
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="deleteMessage{{ message.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <h4>Etes-vous sûr de vouloir supprimer ce message ?</h4>
                                                </div>
                                                <form action="{{ path('delete_message', {id: message.id}) }}" method="post">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ message.id) }}">
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                                                        <button type="submit" class="btn btn-primary">Confirmer</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}