{% extends 'admin/layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/admin/trick.css') }}">
{% endblock %}

{% block title %} Admin figures {% endblock %}

{% block body %}
    <div class="container">
        <div class="accordion" id="accordionExample">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('failure') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
            {% for trick in invalidTrickList %}
            {% for message in app.flashes('successValidTrick') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="card">
                <div class="card-header" id="heading{{ trick.id }}">
                    <div class="row">
                        <div class="col-lg-2">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ trick.id }}" aria-expanded="true" aria-controls="collapseOne">
                                {{ trick.name }}
                            </button>
                        </div>
                        <div class="col-lg-5">
                            <h6 id="creationDate">Créé le {{ trick.createdAt|date('d-m-Y à H:i:s') }} par {{ trick.user.name }}</h6>
                        </div>
                        <div class="col-lg-5">
                            <h6 id="creationDate">Dernière modification le {{ trick.updatedAt|date('d-m-Y à H:i:s') }}</h6>
                        </div>
                    </div>
                </div>
                <div id="collapse{{ trick.id }}" class="collapse" aria-labelledby="heading{{ trick.id }}" data-parent="#accordionExample">
                    <div class="card-body">
                        <h5>Description:</h5>
                        <div class="container">
                            <div id="description">{{ trick.description }}</div>
                            <div id="gallery">
                                <div class="row">
                                    {% for image in trick.images %}
                                        <div class="col-sm-12 col-md-6 col-lg-3">
                                            <a href="{{ asset('uploads/images/' ~ image.name) }}" class="thumbnail" target="_blank">
                                                <img src="{{ asset('uploads/images/' ~ image.name) }}">
                                            </a>
                                        </div>
                                    {% endfor %}
                                    {% for video in trick.videos %}
                                        <div class="col-sm-12 col-md-6 col-lg-3">
                                            {{ video.code|raw }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <input type=button onclick=window.location.href='{{ path('app_trick_updatevalidated', {id: trick.id}) }}'; value="Valider" class="btn btn-success"/>
                            <input type=button data-toggle="modal" data-target="#deleteTrick{{ trick.id }}" value="Supprimer" class="btn btn-danger"/>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="deleteTrick{{ trick.id }}">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <h4>Etes-vous sûr de vouloir supprimer cette figure ?</h4>
                                    </div>
                                    <form action="{{ path('app_trick_delete', {id: trick.id, source: 'admin'}) }}" method="post">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                                            <button type="submit" class="btn btn-primary">Confirmer</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}