{% extends 'admin/layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/admin/user.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div id="containerTable">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('failure') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
            <table class="table table-hover table-sm table-dark">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Rôle</th>
                    <th scope="col">Changer rôle</th>
                    <th scope="col">Supprimer</th>
                </tr>
                </thead>
                <tbody>
                {% for user in userList %}
                    {% if user.id != 1 %}
                        <tr>
                            <th>{{ user.id }}</th>
                            <td>{{ user.name }}</td>
                            <td>{{ user.role }}</td>
                            <td>
                                <a href="{{ path('app_user_updaterole', {id: user.id}) }}">
                                    {% if user.role == 'admin' %}
                                        <i class="fas fa-toggle-on"></i>
                                    {% else %}
                                        <i class="fas fa-toggle-off"></i>
                                    {% endif %}
                                </a>
                            </td>
                            <td><button type="button" data-toggle="modal" data-target="#deleteUser{{ user.id }}"><i class="far fa-trash-alt" ></i></button></td>
                            <!-- Modal -->
                            <div class="modal fade" id="deleteUser{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <h4>Etes-vous sûr de vouloir supprimer l'utilisateur '{{ user.name }}' ?</h4>
                                        </div>
                                        <form action="{{ path('app_user_deletefromadmin', {id: user.id}) }}" method="post">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                                                <button type="submit" class="btn btn-primary">Confirmer</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}