<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ absolute_url(asset('css/mail/contact.css')) }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<h2>Message de la part de {{ contact.lastname }} {{ contact.firstname }}</h2>
<header>
    <img src="{{ absolute_url(asset('images/mails/registrationHeader.jpg')) }}">
</header><br><br>
<span>Message:</span><br>
<p>
    {{ contact.message }}
</p><br><br>
<span>Téléphone: {{ contact.phone }}</span><br>
<span>Email: {{ contact.email }}</span>

{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>