<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('css/base.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="{{ path('home') }}">Jimmy Sweat</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon">
                            <i class="fas fa-chevron-circle-down"></i>
                        </span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <form>
                    <ul class="navbar-nav mr-auto">
                        {% if app.user %}
                            {% if app.user.role == 'user' or app.user.role == 'admin' %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {% if app.user.avatar == null%}
                                            <img class="rounded-circle" id="avatar" src="{{ asset('images/userAvatarDefault.jpg') }}"/>
                                        {% endif %}
                                        {{ app.user.name }}
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        {% if app.user.role == 'admin' %}
                                            <a class="dropdown-item" href="{{ path('trick_admin') }}">Admin</a>
                                        {% endif %}
                                        <a class="dropdown-item" href="{{ path('user_logout') }}">Se déconnecter</a>
                                    </div>
                                </li>
                            {% elseif app.user.role == 'validation' %}
                                 <i class="fas fa-exclamation-circle fa-2x" data-toggle="popover" data-placement="left" data-content="N'oubliez pas de valider votre inscription en cliquant sur le lien de l'email envoyé à {{ app.user.email }} pour avoir accès à des fonctionnalités supplémentaires."></i>
                            {% endif %}
                         {% else %}
                            <li class="nav-item" id="signInLink">
                                <a class="nav-link" href="{{ path('user_login') }}">Se connecter</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('user_registration') }}">S'inscrire</a>
                            </li>
                        {% endif %}
                    </ul>
                </form>
            </div>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script>
            $(function () {
                $('[data-toggle="popover"]').popover()
            })
        </script>
    </body>
</html>
