<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('css/base.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <link href="https://fonts.googleapis.com/css?family=Literata&display=swap" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
        {% block head %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="{{ path('app_home_home') }}">Jimmy Sweat</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon">
                            <i class="fas fa-chevron-circle-down"></i>
                        </span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <form>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown" id="byGroup">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Figures
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('app_home_home') }}">Toutes</a>
                                <a class="dropdown-item" href="{{ path('app_home_bygroup', {group: 1}) }}">Groupe 1</a>
                                <a class="dropdown-item" href="{{ path('app_home_bygroup', {group: 2}) }}">Groupe 2</a>
                                <a class="dropdown-item" href="{{ path('app_home_bygroup', {group: 3}) }}">Groupe 3</a>
                                <a class="dropdown-item" href="{{ path('app_home_bygroup', {group: 4}) }}">Groupe 4</a>
                            </div>
                        </li>
                        {% if app.user %}
                            {% if app.user.role == 'user' or app.user.role == 'admin' %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {% if app.user.avatar == null%}
                                            <img class="rounded-circle" id="avatar" src="{{ asset('images/userAvatarDefault.jpg') }}"/>
                                        {% else %}
                                            <img class="rounded-circle" id="avatar" src="{{ asset('uploads/avatars/' ~ app.user.avatar ) }}"/>
                                        {% endif %}
                                        {{ app.user.name }}
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        {% if app.user.role == 'admin' %}
                                            <a class="dropdown-item" href="{{ path('app_admin_trick') }}">Admin</a>
                                        {% endif %}
                                        <a class="dropdown-item" href="{{ path('app_user_edit', {id: app.user.id, slug: app.user.slug}) }}">Editer mon profil</a>
                                        <a class="dropdown-item" href="{{ path('app_user_logout') }}">Se déconnecter</a>
                                    </div>
                                </li>
                            {% elseif app.user.role == 'validation' %}
                                 <i class="fas fa-exclamation-circle fa-2x" data-toggle="popover" data-placement="bottom" data-content="N'oubliez pas de valider votre inscription en cliquant sur le lien de l'email envoyé à {{ app.user.email }} pour avoir accès à des fonctionnalités supplémentaires."></i>
                            {% endif %}
                         {% else %}
                            <li class="nav-item" id="signInLink">
                                <a class="nav-link" href="{{ path('app_user_login') }}">Se connecter</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_user_registration') }}">S'inscrire</a>
                            </li>
                        {% endif %}
                    </ul>
                </form>
            </div>
        </nav>
        {% block body %}{% endblock %}
        <footer id="footer">
            <h1>Suivez Jimmy</h1>
            <p>
                <i class="fab fa-facebook-square fa-3x"></i>
                <i class="fab fa-twitter-square fa-3x"></i>
                <i class="fab fa-instagram fa-3x"></i>
            </p>
            <h5>© Jimmy Sweat - All Rights Reserved.</h5>
        </footer>
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        {% block javascripts %}{% endblock %}
        <script>
            $(function () {
                $('[data-toggle="popover"]').popover()
            }),
            $(document).ready(function () {
                bsCustomFileInput.init()
            })
        </script>
    </body>
</html>
