{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/trick/show.css') }}">
{% endblock %}

{% block title %}{{ trick.name }}{% endblock %}

{% set last_message_id = '' %}

{% set nb_valid_message = 0 %}

{% block body %}
    <div class="container mt-5">
        <header>
            <h1 id="trickName">
                {{ trick.name }}
            </h1>
            {% if trick.firstImage != null %}
                <img src="{{ asset('uploads/tricks/images/' ~ trick.firstImage) }}">
            {% elseif trick.images|length > 0 %}
                {% set imagesArray = [] %}
                {% for image in trick.images %}
                    {% set imagesArray = imagesArray|merge([image.name]) %}
                {% endfor %}
                <img src="{{ asset('uploads/tricks/images/' ~ random(imagesArray)) }}">
            {% else %}
                <img class="card-img-top" src="{{ asset('images/imgTrickDefault.jpg') }}">
            {% endif %}
            {% if app.user %}
                {% if app.user.activated != 0 %}
                    {% if app.user.role == 'admin' or trick.user.id == app.user.id %}
                        <p id="trickManagement">
                            <a href="{{ path('app_trick_edit', {id: trick.id, slug: trick.slug }) }}"><i class="fas fa-pencil-alt"></i></a>
                            <a href="#"><i class="far fa-trash-alt" data-toggle="modal" data-target="#deleteTrick{{ trick.id }}"></i></a>
                            {#<input type=button data-toggle="modal" data-target="#deleteTrick{{ trick.id }}" value="Supprimer" class="btn btn-danger"/>#}
                        </p>
                    {% endif %}
                {% endif %}
            {% endif %}
            {# Modal delete trick #}
            <div class="modal fade" id="deleteTrick{{ trick.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h4>Etes-vous sûr de vouloir supprimer cette figure ?</h4>
                        </div>
                        <form action="{{ path('app_trick_delete', {id: trick.id, source: 'home'}) }}" method="post">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                                <button type="submit" class="btn btn-primary">Confirmer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </header>
        <div id="mediasContent">
            <button type="button" class="btn btn-primary" id="seeMedias">Voir les médias</button>
        </div>
        <div id="gallery">
            <div class="row">
                {% for image in trick.images %}
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <a href="{{ asset('uploads/images/' ~ image.name) }}" class="thumbnail" target="_blank">
                            <img src="{{ asset('uploads/images/' ~ image.name) }}">
                        </a>
                    </div>
                {% endfor %}
                {% for video in trick.videos %}
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        {{ video.code|raw }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div id="description">
            <h2>Description</h2>
            {{ trick.description }}
        </div>
        <div id="infos">
            <div class="row">
                <div class="col-md-6">
                    Créé par {{ trick.user.name }} le {{ trick.createdAt|date('d/m/Y') }}
                </div>
                <div class="col-md-6">
                    Dernière modification le {{ trick.updatedAt|date('d/m/Y à H:i:s') }}
                </div>
            </div>
        </div>
        <hr id="message">
        {% for message in app.flashes('success') %}
            <div class="row justify-content-md-center">
                <div class="col-9">
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                </div>
            </div>
        {% endfor %}
        {% for message in app.flashes('failure') %}
            <div class="row justify-content-md-center">
                <div class="col-9">
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if app.user %}
            {% if app.user.activated != 0%}
                <form action="{{ path('app_message_create', {id: trick.id}) }}" method="post" id="messageForm">
                    <div class="form-group">
                        <div class="row justify-content-md-center">
                            <div class="col-md-6">
                                <textarea name="content" class="form-control" placeholder="Votre message" rows="5"></textarea>
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-primary">Envoyer</button>
                            </div>
                        </div>
                    </div>
                </form>
            {% else %}
                <h5>Veuillez valider votre inscription pour poster un message</h5>
            {% endif %}
        {% else %}
            <h5>Veuillez vous inscrire pour poster un message</h5>
        {% endif %}
        <hr>
        <div class="col-10 offset-1" id="messageList">
            {% for message in trick.messages|reverse %}
                {% if message.validated == 1 %}
                    {% if nb_valid_message < 4 %}
                        <div class="row justify-content-md-center">
                            <div id="messageContent" class="col-10">
                                <div class="row" id="infoUser">
                                    <div class="col-lg-1">
                                        {% if message.user.avatar != null %}
                                            <img class="rounded-circle" src="{{ asset('uploads/avatars/' ~ message.user.avatar) }}">
                                        {% else %}
                                            <img class="rounded-circle" src="{{ asset('images/userAvatarDefault.jpg') }}">
                                        {% endif %}
                                    </div>
                                    <div class="col-lg-3">
                                        <p>{{ message.user.name }}</p>
                                    </div>
                                    <div class="col-lg-5">
                                        <p>le {{ message.createdAt|date('d/m/Y à H:i:s') }}</p>
                                    </div>
                                    <br><br>
                                </div>
                                <p>{{ message.content }}</p>
                            </div>
                        </div>
                        {% set nb_valid_message = nb_valid_message + 1 %}
                        {% set last_message_id = message.id %}
                    {% endif %}
                {% endif %}    
            {% endfor %}
        </div>
        {% if nb_valid_message >= 4 %}
            <div id="show_more">
                <button class="btn btn-primary" name="btn_more" id="btn_more" data-msgid="{{ last_message_id }}" data-trkid="{{ trick.id }}">Afficher plus <i class="fas fa-plus-circle"></i></button>
            </div>
        {% elseif nb_valid_message == 0 %}
            <div class="alert alert-info" role="alert">
                Aucun message validé n'est associé à cette figure
            </div>
        {% endif %}
    </div>
    {% block javascripts %}
        <script>
            $(document).ready(function () {
                $(document).on('click', '#btn_more', function () {
                    $('#btn_more').html('Chargement <div class="spinner-border text-light spinner-border-sm" role="status"><span class="sr-only">Loading...</span></div>');
                    var last_message_id = $(this).data("msgid");
                    var trick_id = $(this).data("trkid");
                    $.ajax({
                        type: "GET",
                        url: "{{ path('app_message_showmore') }}",
                        data: {last_message_id: last_message_id, trick_id: trick_id },
                        /*data: 'last_message_id=' + last_message_id,*/
                        cache:false,
                        success: function(data){
                            $('#btn_more').remove()
                            $('#messageList').append(data);
                        },
                        error: function() {},
                        complete: function () {
                            $('#btn_more').html("Afficher plus <i class=\"fas fa-plus-circle\"></i>");
                        }
                    });
                })
                $(document).on('click', '#seeMedias', function () {
                    $("#mediasContent").css("display", "none");
                    $("#gallery").css("display", "inline");
                })
            })
        </script>
    {% endblock %}
{% endblock %}