{% extends 'base.html.twig' %}

{% block title "mise à jour mot de passe" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/user/updatePassword.css') }}">
{% endblock %}

{% block body %}
    {% if form is defined and form != null %}
        <div class="container">
            <div id="form-content" class="col-lg-4 col-md-8 col-xs-10 offset-lg-4 offset-md-2 offset-xs-1">
                <p>Veuillez renseigner votre nouveau mot de passe:</p>
                {{ form_start(form) }}
                {{ form_rest(form) }}
                <button class="btn btn-primary" type="submit">Valider</button>
                {{ form_end(form) }}
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="card card-signin" id="confirmUpdatePassword">
                <div class="card-body">
                    <p>Le renouvellement de votre mot de passe pour l'adresse {{ user.email }} a bien été effectué.</p>
                    <div class="spinner-grow" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
            <script>
                function redir(){
                    self.location.href="{{ path('app_home_home') }}";
                }
                setTimeout(redir,10000);
            </script>
        </div>
    {% endif %}
{% endblock %}